.verify{
    height: 82vh;
    width: 30vw;
    border-radius: 10px;
    background-color: white;
    position: relative;
    left: 36vw;
    bottom: -10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

}
.verify form{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
}
.pin{
    height: 50%;
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.pin .head{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.head{
    left: -31%;
}
.pin div,label{
    height: 22%;
}
.inputs{
    width: 80%;
  display: flex;
  justify-content:space-evenly;
  align-items: center;
}
.inputs input{
    width: 18%;
    height: 85%;
    border: none;
    text-align: center;
    font-size: 1.2em;
    background-color: rgb(227, 228, 230);
}
/* For Chrome, Safari, Edge, and Opera */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* For Firefox */
input[type=number] {
    -moz-appearance: textfield;
}
@media screen and (max-width:1150px) {
    .verify{
        width: 40vw;
    }
    
}
@media screen and (max-width:900px) {
    .verify{
        width: 60vw;
        left: 25vw;
    }
    
}
@media screen and (max-width:700px) {
    .head{
        left: -28%;
    }
    
}
@media screen and (max-width:550px) {
    .head{
        left: -24%;
    }
    .verify{
        width: 65vw;
    }
    
}
@media screen and (max-width:450px) {
    .head{
        left: -21%;
    }
    .pin{
        height: 60%;
    }
    .verify{
        width: 70vw;
        left: 15vw;
    }
    .inputs input{
        height: 75%;
    }
    
}
@media screen and (max-width:390px) {
    .head{
        left: -18%;
    }
    .verify{
        width: 80vw;
        left: 11vw;
    }
    
    
}