.form-container {
  width: 100%;
  max-width: 406px;
  margin: auto;
  color: var(--off-white);
}

/* Top Form Number stapes */
.form-number {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 30px;
  margin-top: 5px;
  position: relative;
}

.form-number .number-border {
  height: 40px;
  width: 40px;
  display: flex;
  background-color: #fff;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid var(--dark-blue);
  z-index: 1;
}
.form-number .num {
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--dark-blue);
  text-align: center;
  color: var(--off-white);
  border-radius: 50%;
  z-index: 1;
}

.form-number .num-dis {
  background-color: var(--light-blue);
}

.form-number .line {
  position: absolute;
  top: 25px;
  left: 40px;
  width: 80%;
  height: 1px;
  margin: 0 auto;
  background-color: var(--light-blue);
}
/* _____end */

.doc-box {
  margin-top: 20px;
}

.doc-box .form-title {
  margin-bottom: 20px;
}

.doc-box .form-title p {
  font-size: 25px;
  font-weight: 700;
}

.doc-box form {
  display: flex;
  flex-direction: column;
}

.input-wrap {
  height: 40px;
  width: 100%;
  margin-bottom: 40px;
}

.more-input-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.more-input-wrap .input-wrap {
  width: 50%;
}

.more-input-wrap .input-wrap:nth-child(2) {
  margin-left: 15px;
}

.doc-box form .form-input {
  height: auto;
  width: 100%;
  font-size: 13px;
  padding: 13px;
  margin: 5px 0;
  border-radius: 7px;
  color: var(--off-white);
  background-color: var(--dark2-blue);
  border: none;
}

.doc-box form .form-input::placeholder {
  color: var(--light-gray);
}
.doc-box form .form-input:hover {
  border: none;
}
.doc-box form .form-input:focus {
  outline: none;
  border-bottom: 1px solid var(--light-blue);
}

.doc-box form select::placeholder {
  color: var(--light-gray);
}
.doc-box form select:focus {
  outline: none;
}

.file-input label {
  display: block;
}
.file-input .form-input {
  display: none;
}
.file-input .file-label {
  width: 100px;
  background-color: var(--dark2-blue);
  padding: 11px 3px;
  border-radius: 10px;
  margin-top: 7px;
  font-size: 14px;
  text-align: center;
  color: var(--off-white);
  cursor: pointer;
}
select {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 30px;
  background-color: var(--dark2-blue);
  color: var(--off-white);
  padding: 13px;
  border-radius: 7px;
  border: none;
}

.doc-box form button {
  padding: 20px;
  margin-top: 8px;
  margin-bottom: 15px;
  border: none;
  border-radius: 15px;
  background-color: var(--light-blue);
  color: #fff;
  font-size: 18px;
  text-align: right;
}

.doc-box form button svg {
  margin: auto 0;
  height: 20px;
  width: 20px;
  margin-bottom: -5px;
  margin-left: 3px;
}
